<div class="portfolio section-padding">
  <div class="container">
    <div class="head-title">
      <p>What We Achieved</p>
      <h3>Our Latest Projects</h3>
    </div>
    <div class="row mt-4 align-items-center justify-content-center gy-4">
      <ng-container *ngFor="let item of portfolioList">
        <div
          data-aos="zoom-in-up"
          data-aos-duration="1000"
          class="col-sm-6 col-md-4 col-lg-3"
        >
          <div class="img-box rounded-3 overflow-hidden bg-light">
            <div class="img overflow-hidden">
              <img
                src="{{ item.img }}"
                class="img-fluid w-100 d-bloc"
                data-fancybox="gallery"
                alt="project"
              />
            </div>
            <div class="project-info p-3 text-center">
              <h5>{{ item.title }}</h5>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
