<div class="contact-form">
  <h4 class="fw-bold">Get In Touch</h4>
  <p class="text-black-50 fw-bold mt-2 mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veritatis
    assumenda facilis a enim voluptatibus!
  </p>
  <form class="d-flex flex-column gap-3 justify-content-center">
    <div class="row gy-3">
      <div class="col-md-6">
        <input
          type="text"
          required
          placeholder="Your Name"
          class="rounded-3 p-2 w-100"
        />
      </div>
      <div class="col-md-6">
        <input
          type="email"
          required
          placeholder="Your E-Mail"
          class="rounded-3 p-2 w-100"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input
          type="text"
          required
          placeholder="Your Subject"
          class="rounded-3 w-100 p-2"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <textarea
          required
          placeholder="Your Message"
          class="rounded-3 w-100 p-2"
        ></textarea>
      </div>
    </div>
    <button class="button">Send Message</button>
  </form>
</div>
