
  <div
    class="page-header section-padding d-flex justify-content-center align-items-center"
  >
    <h3 class="display-3 text-white fw-bolder">
      {{ id != 0 ? "Update" : "Add" }} Customer
    </h3>
  </div>

  <div class="section-padding customer-form">
    <div class="container">
      <div class="head-title">
        <p>Customer Data</p>
        <h3>Always Good To Make Our Business Bigger</h3>
      </div>
      <form
        data-aos="fade-up"
        data-aos-duration="1000"
        [formGroup]="customerForm"
        (submit)="submit($event)"
      >
        <div class="row my-5 align-items-start justify-content-center gy-5">
          <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input
              name="name"
              formControlName="name"
              type="text"
              class="rounded-3 w-100 p-2"
              id="name"
              placeholder="Enter Customer Name"
            />
            <ng-container *ngIf="getCustomerName.touched">
              <div
                *ngIf="getCustomerName.hasError('required')"
                class="form-text text-danger"
              >
                Customer Name is required
              </div>
              <div
                *ngIf="getCustomerName.hasError('pattern')"
                class="form-text text-danger"
              >
                Name Must Be Between 5 to 25 Characters
              </div>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">E-Mail</label>
            <input
              name="email"
              formControlName="email"
              type="email"
              class="rounded-3 w-100 p-2"
              id="email"
              placeholder="Enter Customer E-Mail"
            />
            <ng-container *ngIf="getCustomerEmail.touched">
              <div
                *ngIf="getCustomerEmail.hasError('required')"
                class="form-text text-danger"
              >
                Customer Email is required
              </div>
              <div
                *ngIf="getCustomerEmail.hasError('pattern')"
                class="form-text text-danger"
              >
                Enter Valid Email
              </div>
              <div *ngIf="EmailFlag == true" class="form-text text-danger">
                Email Is Already Exist
              </div>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="phone" class="form-label">Phone</label>
            <input
              name="phone"
              formControlName="phone"
              type="text"
              class="rounded-3 w-100 p-2"
              id="phone"
              placeholder="Enter Customer Phone"
            />
            <ng-container *ngIf="getCustomerPhone.touched">
              <div
                *ngIf="getCustomerPhone.hasError('required')"
                class="form-text text-danger"
              >
                Phone is required
              </div>
              <div
                *ngIf="getCustomerPhone.hasError('pattern')"
                class="form-text text-danger"
              >
                Enter Valid Phone Number
              </div>
              <div *ngIf="PhoneFlag == true" class="form-text text-danger">
                Phone Is Already Exist
              </div>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input
              name="password"
              formControlName="password"
              type="password"
              class="rounded-3 w-100 p-2"
              id="password"
              placeholder="Enter Customer Password"
            />
            <ng-container *ngIf="getCustomerPassword.touched">
              <div
                *ngIf="getCustomerPassword.hasError('required')"
                class="form-text text-danger"
              >
                Password is required
              </div>
              <div
                *ngIf="getCustomerPassword.hasError('minlength')"
                class="form-text text-danger"
              >
                Password Should be more than 8 Characters or Numbers
              </div>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="branch_Id" class="form-label">Branch</label>

            <select
              id="branch_Id"
              formControlName="branch_Id"
              name="branch_Id"
              class="rounded-3 w-100 p-2"
            >
              <option value="" disabled selected>Select branch</option>

              <ng-container *ngFor="let branch of branches">
                <option selected value="{{ branch.id }}">
                  {{ branch.name }}
                </option>
              </ng-container>
            </select>
            <ng-container *ngIf="getCustomerbranch.touched">
              <div
                *ngIf="getCustomerbranch.hasError('required')"
                class="form-text text-danger"
              >
                Branch is required
              </div>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="store_name" class="form-label">Store Name</label>
            <input
              name="store_Name"
              formControlName="store_Name"
              type="text"
              class="rounded-3 w-100 p-2"
              id="store_name"
              placeholder="Enter Store Name"
            />
            <ng-container *ngIf="getstoreName.touched">
              <div
                *ngIf="getstoreName.hasError('required')"
                class="form-text text-danger"
              >
                Store Name is required
              </div>

              <div
                *ngIf="getstoreName.hasError('pattern')"
                class="form-text text-danger"
              >
                Store Name must between 5 to 25 Characters
              </div>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label">Address</label>
            <input
              name="address"
              formControlName="address"
              type="text"
              class="rounded-3 w-100 p-2"
              id="address"
              placeholder="Enter Address"
            />
            <ng-container *ngIf="getCustomerAddress.touched">
              <div
                *ngIf="getCustomerAddress.hasError('required')"
                class="form-text text-danger"
              >
                Address is required
              </div>

              <div
                *ngIf="getCustomerAddress.hasError('minlength')"
                class="form-text text-danger"
              >
                Address Should be more than 5 characters
              </div>

              <div
                *ngIf="getCustomerAddress.hasError('maxlength')"
                class="form-text text-danger"
              >
                Address Should be more less than 25 characters
              </div>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="special_Discount_Perc" class="form-label"
              >Special Discount Percentage</label
            >
            <input
              name="special_Discount_Perc"
              formControlName="special_Discount_Perc"
              type="number"
              min="0"
              max="100"
              class="rounded-3 w-100 p-2"
              id="special_Discount_Perc"
              placeholder="Enter Special Discount Percentage"
            />
            <ng-container *ngIf="getCustomerSpecialPercentage.touched">
              <div
                *ngIf="getCustomerSpecialPercentage.hasError('required')"
                class="form-text text-danger"
              >
                Special Discount Percentage is required
              </div>
              <div
                *ngIf="getCustomerSpecialPercentage.hasError('min')"
                class="form-text text-danger"
              >
                Special Discount Percentage must be more or equal 0
              </div>
              <div
                *ngIf="getCustomerSpecialPercentage.hasError('max')"
                class="form-text text-danger"
              >
                Special Discount Percentage must be less than 100
              </div>
            </ng-container>
          </div>
          <div class="col-md-6">
            <label for="refused_Order_Perc" class="form-label"
              >Refused Order Percentage</label
            >
            <input
              name="refused_Order_Perc"
              formControlName="refused_Order_Perc"
              type="number"
              min="0"
              max="100"
              class="rounded-3 w-100 p-2"
              id="refused_Order_Perc"
              placeholder="Enter Refused order Percentage Cost"
            />
            <ng-container *ngIf="getCustomerRefusedPercentage.touched">
              <div
                *ngIf="getCustomerRefusedPercentage.hasError('required')"
                class="form-text text-danger"
              >
                Refused Percentage is required
              </div>
              <div
                *ngIf="getCustomerRefusedPercentage.hasError('min')"
                class="form-text text-danger"
              >
                Refused Percentage must be more or equal 0
              </div>
              <div
                *ngIf="getCustomerRefusedPercentage.hasError('max')"
                class="form-text text-danger"
              >
                Refused Percentage must be less than 100
              </div>
            </ng-container>
          </div>
          <input
            formControlName="role_Id"
            type="text"
            class="form-control"
            hidden
            id="role_Id"
            name="role_Id"
          />
        </div>
        <button type="submit" class="button">
          {{ id != 0 ? "Update" : "Add" }} Customer
        </button>
      </form>
    </div>
  </div>

