<div class="about-content d-flex flex-column gap-2">
  <h6>About Company</h6>
  <h2>Digital & Trusted Transport Logistic Company</h2>
  <p class="text-black-50 fw-bold">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam magnam
    quibusdam explicabo beatae natus, dolor hic in ut illum asperiores.
  </p>
  <div class="about-box p-3 rounded-3 d-flex align-items-center gap-3">
    <p><i class="fa-solid fa-globe fs-3"></i></p>
    <div class="d-flex flex-column gap-2">
      <h5>Global Service</h5>
      <small
        >We always provide people a complete solution focused of any
        business.</small
      >
    </div>
  </div>
  <div class="about-box p-3 rounded-3 d-flex align-items-center gap-3">
    <p><i class="fa-solid fa-truck-ramp-box fs-3"></i></p>
    <div class="d-flex flex-column gap-2">
      <h5>On Time Delivery</h5>
      <small
        >We always provide people a complete solution focused of any
        business.</small
      >
    </div>
  </div>
  <button class="button">Explore More</button>
</div>
