
  <div
    class="page-header section-padding d-flex justify-content-center align-items-center"
  >
    <h3 class="display-3 text-white fw-bolder">Governroates</h3>
  </div>

  <div class="section-padding show-governroates">
    <div class="container">
      <div class="head-title">
        <p>Our Governroates</p>
        <h3>Wherever You Are, We Are</h3>
      </div>
      <div class="governroates-table overflow-hidden rounded-3 mt-5 bg-white">
        <div
          class="governroate-header p-2 bg-light d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center gap-3"
        >
          <h3>Governroates</h3>
          <div>
            <a routerLink="/admin/Governroates/form/0" class="button"
              >New Governroate<i class="fa-solid fa-plus ms-3"></i
            ></a>
            <button class="button ms-2" (click)="downloadPDF()">
              <i class="fa-solid fa-print"></i>
            </button>
          </div>
        </div>
        <div class="px-2 py-3 table-responsive">
          <div
            class="search-table my-2 d-flex flex-wrap justify-content-center align-items-center gap-3"
          >
            <input
              #search
              (change)="searchInput(search)"
              class="search-name rounded-3 p-2 bg-light"
              type="text"
              name="search"
              placeholder="Enter Name"
            />
            <button class="button ms-3 ms-md-0" (click)="getSearch()">
              Search
            </button>
            <button class="button" (click)="resetSearch()">Reset</button>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-2 filter-gover">
            <label for="branch_Id" class="form-label d-block me-2">Find By Branch</label>
            <select #selectBranch (change)="getByBranch(selectBranch.value)" name="branch_Id" id="branch_Id" class="p-2 rounded-3">
              <option value="" disabled selected>Select branch</option>
              <option value="all">All</option>
              <ng-container *ngFor="let item of branchList">
                <option [value]="item.id">{{item.name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="d-flex align-items-start justify-content-start gap-2 mb-2">
            <p>Show</p>
            <select class="p-1 rounded-2" [(ngModel)]="itemsPerPage" >
              <option selected value="5">5</option>
              <option  value="10" >10</option>
              <option value="15" >15</option>
              <option value="20" >20</option>
          </select>
          </div>
          <table
            data-aos="zoom-in"
            data-aos-duration="1000"
            class="table table-hover table-bordered"
          >
            <thead class="table-dark">
              <tr>
                <th scope="col">Serial</th>
                <th scope="col">Name</th>
                <th scope="col">Branch</th>
                <th scope="col">Available</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let govern of governroates | paginate: { itemsPerPage: itemsPerPage , currentPage: p }">
                <th scope="row">{{ govern.id }}</th>
                <td>{{ govern.name }}</td>
                <td>{{ govern.branch_Name }}</td>
                <td>
                  <label class="button-available" for="{{ govern.id }}">
                    <input
                      (change)="softDelete(govern)"
                      id="{{ govern.id }}"
                      [checked]="govern.available"
                      type="checkbox"
                    />
                    <span class="slider"></span>
                  </label>
                </td>
                <td>
                  <a
                    class="edit-btn"
                    [routerLink]="['/admin/Governroates/form', govern.id]"
                    ><i class="fa-solid fa-pen-to-square"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center align-items-center mt-3">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>

