<ng-container *ngIf="roleName != null || roleName != ''">
  <div
    class="page-header section-padding d-flex justify-content-center align-items-center"
  >
    <h3 class="display-3 text-white fw-bolder">Dashboard</h3>
  </div>

  <div class="section-padding dashboard">
    <div class="container">
      <div class="head-title">
        <p>Orders</p>
        <h3>Always Increasing</h3>
      </div>
      <div class="row mt-5 align-items-center justify-content-center gy-4">
        <ng-container *ngFor="let item of dataList">
          <div class="col-md-6 col-lg-4">
            <app-order-details [myOrder]="item"></app-order-details>
          </div>
        </ng-container>
        <ng-container *ngIf="dataList.length == 0">
          <img
            src="assets/empty-orders.png"
            class="img-fluid w-50 d-block"
            alt="empty"
          />
          <h2 class="mt-3 fw-bolder text-center">Sorry, No Order To Show</h2>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="roleName == null || roleName == ''">
  <app-not-found></app-not-found>
</ng-container>
